<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Course Json Validator</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
    <label for="cjsonlabel">Course Json:</label>

    <!-- Temporary data for development purposes -->
    <textarea id="json_data" name="jsontxtarea" rows="50" cols="150">
    [
        {
            "display_name": "Governance and Compliance",
            "block_key": "block-v1:R_org+R1+May22+type@lti_advantage_consumer+block@da7e7f8353f54fa49aeeded858ab7c7f",
            "lti_display_name": "nowledge_check",
            "launch_url": "https://hub-dev.netacad.com/kernel/lti/launch?client_id=824811",
            "tool_id": "None",
            "custom_parameters": [
                "course=varmir",
                "version=1.1",
                "lang=en-US",
                "module=pre-assess",
                "app=sgp",
                "launch=adl"
            ],
            "scored": true,
            "send_email": true,
            "send_name": true
        },
        {
            "display_name": "Network Security Testing",
            "block_key": "block-v1:R_org+R1+May22+type@lti_advantage_consumer+block@581379bb42274369abfc9b48dbc31e87",
            "lti_display_name": "LTI Advantage Consumer",
            "launch_url": "https://hub-dev.netacad.com/kernel/lti/launch?client_id=824811",
            "tool_id": "19",
            "custom_parameters": [
                "course=varmir",
                "version=1.0",
                "lang=en-US",
                "module=m1",
                "app=sgp",
                "launch=adl"
            ],
            "scored": true,
            "send_email": false,
            "send_name": true
        },
        {
            "display_name": "Threat Intelligence",
            "block_key": "block-v1:R_org+R1+May22+type@lti_advantage_consumer+block@fb663db96954435a9914a66409a3ae4f",
            "lti_display_name": "LTI Advantage Consumer",
            "launch_url": "https://hub-dev.netacad.com/kernel/lti/launch?client_id=824811",
            "tool_id": "11",
            "custom_parameters": [
                "course=varmir",
                "version=1.0",
                "lang=en-US",
                "module=m2",
                "app=sgp",
                "launch=adl"
            ],
            "scored": true,
            "send_email": true,
            "send_name": true
        },
        {
            "display_name": "Endpoint Vulnerability Assessment",
            "block_key": "block-v1:R_org+R1+May22+type@lti_advantage_consumer+block@a0f5774253724885b366618fedbb64c7",
            "lti_display_name": "LTI Advantage Consumer",
            "launch_url": "https://hub-dev.netacad.com/kernel/lti/launch?client_id=8248",
            "tool_id": "11",
            "custom_parameters": [
                "course=varmir",
                "version=1.0",
                "lang=en-UK",
                "module=m3",
                "app=sgp2",
                "launch=adl"
            ],
            "scored": true,
            "send_email": true,
            "send_name": true
        },
        {
            "display_name": "Risk Management and Security Controls",
            "block_key": "block-v1:R_org+R1+May22+type@lti_advantage_consumer+block@ef5f4ad4af3d4b099cd536e72514b5f5",
            "lti_display_name": "LTI Advantage Consumer",
            "launch_url": "https://hub-dev.netacad.com/kernel/lti/launch?client_id=824811",
            "tool_id": "11",
            "custom_parameters": [
                "course=varmir",
                "version=1.0",
                "lang=en-US",
                "module=m4",
                "app=sgp",
                "launch=adlr"
            ],
            "scored": true,
            "send_email": true,
            "send_name": true
        },
        {
            "display_name": "Cyber Threat Management (CyberTM) Module 1 - 5 Group Exam",
            "block_key": "block-v1:R_org+R1+May22+type@lti_advantage_consumer+block@559a0cd9f4f643f6b42b4d6f599de866",
            "lti_display_name": "LTI Advantage Consumer",
            "launch_url": "https://hub-dev.netacad.com/kernel/lti/launch?client_id=24811",
            "tool_id": "11",
            "custom_parameters": [
                "course=varmir",
                "version=1.0",
                "lang=en-US",
                "module=mge1",
                "app=sgp",
                "launch=adl"
            ],
            "scored": true,
            "send_email": true,
            "send_name": true
        },
        {
            "display_name": "Digital Forensics and Incident Analysis and Response",
            "block_key": "block-v1:R_org+R1+May22+type@lti_advantage_consumer+block@b1f8570ee0434ff29b008d282a3bedba",
            "lti_display_name": "LTI Advantage Consumer",
            "launch_url": "https://hub-dev.netacad.com/kernel/lti/launch?client_id=824811",
            "tool_id": "11",
            "custom_parameters": [
                "course=varmir",
                "version=1.0",
                "lang=en-US",
                "module=m5",
                "app=sgp",
                "launch=adl"
            ],
            "scored": true,
            "send_email": true,
            "send_name": false
        },
        {
            "display_name": "Cyber Threat Management (CyberTM) Module 6 Group Exam",
            "block_key": "block-v1:R_org+R1+May22+type@lti_advantage_consumer+block@59430a68734c4525ae0f3ab30e4e8654",
            "lti_display_name": "LTI Advantage Consumer",
            "launch_url": "https://hub-dev.netacad.com/kernel/lti/launch?client_id=824811",
            "tool_id": "11",
            "custom_parameters": [
                "course=varmir",
                "version=7.0",
                "lang=en-US",
                "module=mge2",
                "app=sgp",
                "launch=adl"
            ],
            "scored": true,
            "send_email": true,
            "send_name": true
        },
        {
            "display_name": "Cyber Threat Management (CyberTM) Course Final Exam",
            "block_key": "block-v1:R_org+R1+May22+type@lti_advantage_consumer+block@90f9e7a83d9a41d5a207c77b1afafb0b",
            "lti_display_name": "LTI Advantage Consumer",
            "launch_url": "https://hub-dev.netacad.com/kernel/lti/launch?client_id=824811",
            "tool_id": "11",
            "custom_parameters": [
                "course=varmir",
                "version=1.0",
                "lang=en-US",
                "module=final-exam",
                "app=sgp",
                "launch=adl"
            ],
            "scored": true,
            "send_email": true,
            "send_name": true
        }
    ]
    </textarea>
    <button id="submit">Submit</button>
    <pre>
        <code>
            <p id="result"></p>
        </code>
    </pre>
    <pre>
        <code>
            <p id="errors"></p>
        </code>
    </pre>
</body>
</html>
<script type="text/javascript">
    $(document).ready(function(){  
        $("#submit").click(function(){
            var rawJson = document.getElementById('json_data').value;
            var jsonObj = JSON.parse(rawJson);
            var pretty = JSON.stringify(jsonObj, undefined, 4);
            document.getElementById('json_data').value = pretty;
            jQuery.ajax({  
                url: 'validate/',  
                type: 'POST',
                contentType: 'application/json;charset=UTF-8',
                headers: { "X-CSRFToken": '{{ csrf_token }}' },
                data: rawJson,
                success: function(data) {
                    $('#json_data').hide()
                    $('#submit').hide()
                    dt = JSON.stringify(JSON.parse(data), undefined, 4);
                    $("#result").html(document.getElementById('json_data').value);
                    $("#errors").html(dt);
                    debugger;
                }  
            });  
        });  
    });
</script>